* {
	display:block;
	padding: 0px;
	margin: 0px;
}

head {
	display:none;
}

a {
	color: #3D8CDB;
	text-decoration: none;
	display: inline;
}

a:hover{
	color: #2C5E91;
}

img {
	display: inline;
}

.container {
	width:100%;
	height:auto;
	min-height: 100%;
	overflow-x: hidden;
}

.titleBar {
	width: 90%;
	height: 10%;
	background-color: #555555;
	overflow: hidden;
	padding: 0.5%;
	padding-left: 5%;
	padding-right: 5%;
}

.titleBar .left {
	float:left;
	width: 50%;
	display:inline;
	background-color: #555555;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.logo img {
	width: 7%;
	height: 7%;
}

.logo {
	display: inline;
}

.title {
	display: inline;
	color: #3D8CDB;
	font-size: 1.6em;
	padding-top: 1%;
	padding-bottom: 1%;
	/*Everything I try won't vertically align this.*/
}

.titleBar .navBar{
	float:right;
	width: 50%;
	background-color: #555555;
	color: #3D8CDB;
	text-align: right;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.titleBar .navBar li {
	display:inline;
}

.titleBar .navBar a {
	display:inline;
}

.content {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.content a {
	color: #000000;
	text-decoration: underline;
}

.footer{
	width: 100%;
	height: auto;
	background-color: #555555;
}

.footer .copyright{
	width:50%;
	float:left;
}

.footer .nav {
	width: 50%;
	float: right;
	text-align: right;
}

.footer .nav li {
	display: inline;
}

.footer .nav li a {
	display:inline;
	text-decoration: none;
}
